<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Editar Datos Del Artista</h1><br>
    <br>


    <button type="button">
        <a href="{% url 'GroundZeroAdd' %}"> Agregar </a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>


    <table>
        {% if artistas %}
            <th>rut</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>fecha_nacimiento</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for x in alumnos %}
                <tr>
                    <td> {{ x.rut }} </td>
                    <td> {{ x.nombre }} </td>
                    <td> {{ x.apellido }} </td>
                    <td> {{ x.fecha_nacimiento }} </td>
                    <td><a href="{% url 'artistas_del' pk=x.rut %}">Eliminar</a></td>
                    <td><a href="{% url 'artistas_findEdit' pk=x.rut %}">Modificar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    <a href="{% url 'crear_artista' %}">Crear Nuevo Artista</a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
    
</body>
</html>