<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html' %}

{% block content %}
<article>
    <h1>Nuestros Trabajos</h1>
    <p>Descubre lo mejor del arte:</p>
    <ul>
        <li><a href="{% url 'paintings' %}">Pinturas</a></li>
        <li><a href="{% url 'sculptures' %}">Esculturas</a></li>
        <li><a href="{% url 'goldsmithing' %}">Orfebrería</a></li>
        <li><a href="{% url 'fabrics' %}">Tejidos</a></li>
    </ul>
</article>
{% endblock %}

    
</body>
</html>