<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html' %}

{% block content %}
<article>
    <h1>Pinturas</h1>
    <div class="gallery">
        <!-- Aquí puedes iterar sobre las pinturas utilizando el modelo de Artista -->
        {% for artista in artistas %}
            <div class="artwork">
                <h2>{{ artista.nombre }} {{ artista.apellido }}</h2>
                <p>Fecha de nacimiento: {{ artista.fecha_nacimiento }}</p>
                <img src="{{ artista.imagen.url }}" alt="{{ artista.nombre }}">
            </div>
        {% endfor %}
    </div>
</article>
{% endblock %}

    
</body>
</html>